.mainDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body{
  background-color:#747678;
}
.subDiv{
  width: 85%;
  padding: 1%;
  margin: 1%;
  border: 3px solid #ddd;
}
.subDiv1{
  width: 40%;
  padding: 1%;
  margin: 1%;
  border: 3px solid #ddd;
}
input,select{
  width: 90%;
  margin: 1%;
}
.subDiv h1{
  color: #c45e45;
  text-shadow: 2px 2px 2px #ddd;
}

.subDiv1 h1{
  color: #c45e45;
  text-shadow: 2px 2px 2px #ddd;

}
button{
  margin-left: 45%;
}
header{
  text-align: center;
}
img{
  height:15%;
  width:15%;
  margin:0 auto;
}
a img{
  margin-left:43%;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.child{
  width: 30%;
  border:1px solid #c45e45;
  box-shadow: 3px 3px 3px #ddd;
  padding:2%;
  margin:1%;
}

.main{
  display: flex;
  flex-wrap: wrap;

}
.left{
  flex:2%;
  border:2px solid #000;
  padding:1%;
  margin:1%;
}
.right{
  flex:2%;
  border:2px solid #000;
  padding:2%;
  margin:1%;
}
